<p>{{message}}</p>
<h2><a href="{{path('bwf_site_eft')}}">[ EFT ]</a></h2>
<h2><a href="{{path('bwf_site_alpha')}}">[ Alphabétisation ]</a></h2>
<h2><a href="{{path('bwf_site_ceram')}}">[ Céramique ]</a></h2>